.dist/
.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.egg-info/
*.egg
*.whl
*.coverage  
migrations/
.env
.env.local
.env.development
.env.production
.env.test
*.DS_Store
*.swp
*.swo
*.bak       